# global rules


.cfg
*.d
*.o
*.ko
*.ko.cmd
*.mod
*.mod.c
*.o.*
*.map
*.hex
*~
*.png
*.aux
*.log
*.pdf
*.toc

Module.symvers
Module.markers
*.order

*.mcp
*.mcs
*.mcw
.metadata
/src/user/user_config.h
src/firmware/0x00000.bin
src/firmware/0x40000.bin
src/build/app.out
src/build/app_app.a
